<h1>Técnicos</h1>

<div class="row">
    <div class="col">        
    </div>
    <div class="col">
        <div>
        <canvas id="myChart"></canvas>
    </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="~/js/signalR.js"></script>

<script>
    const ctx = document.getElementById('myChart');
        const data = {
        labels: [
            'Resuelto',
            'Pendiente',
            'En proceso',
            "Cancelado"

        ],
        datasets: [{
            label: 'My First Dataset',
            data: [300, 50, 100,13],
            backgroundColor: [
                'rgb(255, 99, 132)',
                'rgb(54, 162, 235)',
                'rgb(255, 205, 86)',
                'rgb(75, 192, 192)'
            ],
            hoverOffset: 4
        }]
    };
    const myChart = new Chart(ctx, {
        type: 'pie',
        data: data,

    });

    
    const connection = new signalR.HubConnectionBuilder()
        .withUrl("/ReporteHub")
        .build();
    connection.start().then(() => {
        connection.invoke("AddToGroup", "Tecnicos").catch(err => console.error(err.toString()));
        console.log("Conexión exitosa");
    }).catch(err => console.error(err.toString()));

    connection.on("ReceiveReporte", (reporte) => {
        console.log("Reporte recibido: ", reporte);
    });
    connection.on("RecibirReporte", (reporte) => {

        if (reporte && reporte.fallo) {
            const nombreCliente = reporte.nombreCliente;
            console.log("Nuevo Reporte de: " + nombreCliente + "\n" + "Con falla de: " + reporte.fallo);
            alert("Nuevo reporte de: " + reporte.fallo);
            console.log(reporte);
        } else {
            console.error("El objeto reporte no contiene la propiedad nombreCliente o es nulo:", reporte);
        }
    });
</script>